h1 {
    color: white;
}
p {
    color: white;
}
span {
    color: white;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #555;
    font-size: 17px;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 25%;
    transition: 0.3s;
    font-size: 17px;
}
  
.tab button:hover {
    background-color: #777;
}
  
.tab1 button.active {
  background-color: tomato;
}
.tab2 button.active {
  background-color: darkolivegreen;
}
.tab3 button.active {
  background-color: dodgerblue;
}
.tab4 button.active {
  background-color: orange;
}

.tabcontent {
  display: none;
  padding: 50px;
  border: 1px solid #777;
  border-top: none;
  text-align: center;
}

#About { background-color: tomato; display:block; }
#Products { background-color: darkolivegreen; }
#Technology { background-color: dodgerblue; }
#Downloads { background-color: orange; }  
